@font-face {
    font-family: "Itim";
    src: url('../font/Itim-Regular.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Itim, serif;
}

html, body{
    height: 100%;
}

.clear{clear: both;}

.upper-page{
    width: 100%;
    height: 90vh;
    min-height: 800px;
    background-image: url(../images/capa.png);
    background-position: center;
    background-size: cover;
    padding: 40px 2%;
}

.container{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 2% 0 2%;
}

.logo{
    width: 180px;
    height: 24px;
    float: left;
    background-image: url(../images/logo-danki.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.menu{
    float: right;
}

a{
    color: white;
}

.desktop li{
    padding-right: 3px;
    display: inline-block;
    font-size: 20px;
}

.mobile{
    display: none;
}

.tcontainer{
    width: 40%;
    float: right;
    margin: 10% 100px;
}

.text > h2{
    text-transform: capitalize;
    color: white;
}

.tcontainer h2{font-size: clamp(35px, calc(3vw + 9px), 50px);}
.tcontainer p{font-size: clamp(26px, 3vw, 41px);}

.text > p{
    padding-top: 5px;
    text-transform: capitalize;
    color: white;
}

.page-1{
    width: 100%;
    height: 45vh;
    background-color: #472562;
    position: relative;
}

.tcontainer2{
    margin-top: 40px;
    float: left;
    position: relative;
    left: 55px;
    padding-left: 80px;
    height: 100%;
    width: 50%;
}

.tcontainer2 li{
    margin-left: 5px;
   text-transform: capitalize;
    list-style-type: square;
    list-style-position: inside;
    color: white;
    font-size: 21px;
}

.tcontainer2 h2{font-size: clamp(24px, calc(2vw + 9px), 44px);}
.tcontainer2 p{font-size: clamp(16px, 2vw, 36px);}

.tcontainer2 button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.phones{
    float: left;
    width: 50%;
    height: 50vh;
    position: relative;
    top: -40px;
    background-image: url(../images/device.png);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
}

.tcontainer3 h2{font-size: clamp(23px, calc(2vw + 3px), 35px);}
.tcontainer3 p{font-size: clamp(20px, 2vw, 32px);}

.tcontainer3 h2,
.tcontainer3 p{
    color: black;
    text-align: center;
}

.screen{
    margin-top: 2%;
    width: 100%;
    aspect-ratio: 4 / 2;
    background-image: url(../images/mockup.jpg);
    background-size: 100% 100%;
}

.page-3{
    position: relative;
    top: -40px;
    z-index: -1;
}

.sec{
    width: 50%;
    height: 35vh;
    float: left;
}

.team{
    background-color: blueviolet;
    color: white;
}

.tcontainer4{
    width: 50%;
    position: absolute;
    top: 50px;
    text-align: left;
    padding: 2%;
}

.tcontainer4 h2{
    font-weight: 100;
    font-size: 27px;
}

.tcontainer4 p{
    padding-top: 6px;
    font-size: 20px;
    text-align: justify;
}

.page-4{
    background-color: darkorchid;
    width: 100%;
}